h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body:not(.option-expanded) #summary-tbody > tr.expanded {
  display: none;
}

body.option-expanded #summary-tbody > tr.collapsed {
  display: none;
}
